.home-form-style {
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    outline: white;
    border-radius: 0;
    border-bottom: 1px solid black;
}

.form-control:focus-visible {

    box-shadow: none;

}

.form-width-setting {
    width: 500px;
}