<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form [formGroup]="productOrderForm" (ngSubmit)="onSubmit()">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="name" class="mt-2 mx-2">First Name<span class="text-danger">*</span>:</label>
                        <input type="text" name="name" id="name"
                            class="form-control home-form-style form-width-setting py-0" formControlName="name">

                    </div>
                    <div class="form-group">
                        <label for="surname" class="mt-2 mx-2">Last Name<span class="text-danger">*</span>:</label>
                        <input type="text" name="surname" id="surname"
                            class="form-control home-form-style form-width-setting py-0" formControlName="surname">
                    </div>

                    <div class="form-group">
                        <label for="email" class="mt-2 mx-2">Email adress<span class="text-danger">*</span>:</label>
                        <input type="email" class="form-control home-form-style form-width-setting py-0" name="email"
                            id="email" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="phone" class="mt-2 mx-2">Phone Number</label>
                        <input type="text" class="form-control home-form-style form-width-setting py-0" name="phone"
                            id="phone" formControlName="phone">
                    </div>
                    <div class="form-group">
                        <label for="adress" class="mt-2 mx-2">Adress<span class="text-danger">*</span>:</label>
                        <input type="text" class="form-control home-form-style form-width-setting py-0" name="adress"
                            id="adress" formControlName="adress">
                    </div>
                    <div class="form-group">
                        <label for="comment" class="mt-2 mx-2">Comment:</label>
                        <textarea type="text" class="form-control home-form-style form-width-setting py-0"
                            name="comment" id="comment" formControlName="comment" rows="0"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="payment" class="mt-2 mx-2">Payment method<span class="text-danger">*</span>:</label>
                        <select type="select" class="form-control home-form-style form-width-setting py-0"
                            name="payment" id="payment" formControlName="payment">
                            <option value="card">Credit Card</option>
                            <option value="paypal">PayPal</option>
                            <option value="payondelivery">Payment on Delivery</option>
                        </select>
                    </div>

                    <br>

                </div>
                <div class="d-flex justify-content-center py-3">
                    <button class="btn btn-dark text-light px-5" type="submit" [disabled]="!productOrderForm.valid">
                        Confirm</button>
                </div>

            </form>
        </div>
    </div>