<div class="container-fluid background-photo-about px-5">

    <h4 class="text-light p-0 m-0"> GIVE WITH MEANING</h4>

    <span class="text-light mt-1"> For over 110 years, as the floral-gifting experts, we’ve been helping you give with
        more care, with
        greater ease, and with more meaning.<br>
        Established in 1910 as a collective of 10 florists, Florists’ Transworld Delivery (FTD) used the telegraph
        to transform the age-old practice of flower-giving. We understood then the unique power of flowers to
        express a sentiment and helped people across the world “Say it with flowers.” Today, we have grown into an
        extensive network made up of thousands of local florists — each one an artisan who is handcrafting and
        hand-delivering fine bouquets all across the country.
        <br>
        When you’re giving with FTD you’re giving the gift of joy, strength, and love and you're giving it with
        meaning.
    </span>
    <br>
    <h5 class="text-light"> FTD.com Affiliate Program </h5>
    <span class="text-light"> Advertise FTD.com on your site and get 5% on your users' purchases</span>
</div>



<div class="container gray-divs-wrap">
    <div class="row mx-3">
        <div class="col-lg-4 col-md-4 col-sm-12 divs-position">
            <h5 class="mt-2"> Advertise </h5>
            <div class="about-divs-style pb-5">

                <p> Advertise FTD on your website </p>
                <hr>
                <span> Why partner with FTD?</span>
                <br>
                <br>
                <br>
                <br>
                <div class="px-5">
                    <span> After 100 years in business, we know a thing or two about flowers! In fact, we invented the
                        world's first floral network and are one of America's most recognizable brands. Our century of
                        success is built on industry leading standards for floral quality, artistry, and reliability.
                        Join
                        the FTD affiliate program and start generating revenue for your site.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 divs-position">
            <h5 class="mt-2"> Convert </h5>
            <div class="about-divs-style pb-5">

                <p> Upon ad selection users are taken to product </p>
                <hr>
                <span> What can you expect? </span>
                <br>
                <br>
                <br>
                <br>
                <div class="px-5 text-left">
                    <ul class="text-left">
                        <li> Full time dedicated and experienced Affiliate Manager</li>
                        <li>Competitive commission and attractive conversion rate</li>
                        <li>Daily reporting through CJ Affiliate</li>
                        <li>Affiliation with the oldest and most recognized floral organization and Brand in the world
                        </li>
                        <li> Industry leading, best in class affiliate exclusive discounts</li>
                        <li>We deliver to almost 100% of the US residents and to major Canadian Metropolitan areas</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 divs-position">
            <h5 class="mt-2"> Advertise </h5>
            <div class="about-divs-style">

                <p> Earn 5% commission across all products & categories.
                </p>
                <hr>
                <span> How do I join?
                </span>
                <br>
                <br>
                <br>
                <br>
                <div class="px-5">
                    <span> Join now through CJ Affiliate. If you have questions about becoming an affiliate of FTD,
                        please contact us at:FTD-Affiliate&#64;ftdi.com

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>