.product-crumbs-buttons {
    display: flex;
    justify-content: end;
}

.product-img-style {

    width: 350px;
    height: 350px;
}

.product-img-position {
    display: flex;
    justify-content: end;
}

.last-next {
    cursor: pointer;
}

@media (max-width: 992px) {
    .product-img-position {
        display: block;

    }

}