<div class="container-fluid px-5" style="background-image: url('/flowerBackground1.jpg');"
    id="background-image-container">
    <div class="">
        <h2 class="text-dark p-0 m-0">March into Spring!</h2>
        <span class="text-dark">Bring the meadow to them with a daisy bouqet.</span><br><br>
        <button class="btn btn-secondary text-light">SHOP FLOWERS</button>
    </div>


</div>
<div class="container-fluid w-75 my-5 textposition">
    <span>
        Established in 1910, FTD has been a premier provider of beautiful floral arrangements and gorgeous mixed flower
        bouquets for over 100 years. Whatever the occasion, our evergreen collection of colorful stems, blossoming
        plants, and fragrant arrangements have warmed hearts all across the country. At FTD, we celebrate the little
        things in life and cherish the timeless charm a single flower embodies. From birthday flowers to sympathy
        flowers, all of our hand-picked flower arrangements are worth more than a thousand words. <br><br>
        Our sprawling network of local florists not only allows us to guarantee quick, fresh flower delivery, but is
        chock-full of expert green thumbs with an eye for elegance and perfection. As one of the largest and most
        trusted online floral retailers in the world, we take immense pride in our industry-leading title. Delivering
        quality, innovation, creative artistry, and dependability, FTD is much more than just an online flower delivery
        service.
    </span>


</div>

<div class="container-fluid">
    <div class="testiranjesrbijadanska">
        <div class="container">
            <div class="row">
                @for(post of posts; track post){
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <app-post [post]="post"></app-post>
                    </div>
                }
            </div>
        </div>
        
    </div>
       
        <div class="flower-img-position">
            <button class="btn btn-light text-secondary border-secondary" routerLink="/shop"> Load more</button>
        </div>
    
    <br>   
    <div class="container-fluid">
        <div class="row ">

            <div class="col-lg-5 col-md-5 col-sm-12" style="min-height: 400px; padding-left: 60px;">
                <span>
                    Send us a message<br>
                    A: Laze Nancica 7, 21000 Novi Sad <br><br>
                    T:021/422-022 <br><br>
                    office&#64;smartinit.net<br><br><br>
                    <p> MON-FRI:7am - 10pm</p>
                    <p> SATURDAY-FRI:8am - 10pm</p>
                    <p> SUNDAY - </p> <br>
                    <p> FAQ/ </p>
                    <p> Shiping & Returns/ </p>
                    <p> Store policy/ </p>
                    <p> Payment Methods/ </p>
                </span>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-12" style="min-height: 400px; padding-left: 60px;">
                <br>
                <br>
                <form>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="inputEmail4" class="px-3">Name</label>
                            <input type="email" class="form-control home-form-style" id="inputEmail4">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="inputPassword4" class="px-3">Email</label>
                            <input type="password" class="form-control home-form-style" id="inputPassword4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress" class="p-3">Subject</label>
                        <input type="text" class="form-control home-form-style py-0" id="inputAddress">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2" class="p-3">Message</label>
                        <input type="text" class="form-control home-form-style py-2" id="inputAddress2">
                    </div>
                </form>
                <br>
                <div class="flower-img-position">
                    <button class="btn btn-light text-secondary border-secondary"> SEND</button>
                </div>
                <br>
                <p> Get our newsletters</p>
                <div class="d-flex align-items-start">
                    <input type="text" id="name" class="newsletterinput p-2 text-left"
                        placeholder="Enter your email here">
                    <button class="btn btn-dark text-white py-2"> Subscribe Now</button>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="container-fluid m-0 p-0">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 send-get-well-wishes">
                <h3 class="text-light">Send Get Well Wishes</h3>
                <p class="text-light"> Brithen their recovery with beautiful florals, plants, and gifts that will
                    express your well wishes</p>
                 <span class="badge bg-secondary"> SHOP GET WELL FLOWERS & GIFTS </span>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12" style="background-image: url('/FTD_SplitBanner_Merx_1.png'); 
            background-size: cover; background-position: center; min-height: 400px;">

            </div>
        </div>
    </div>





</div>